.card-container{
    float: left;
    border-radius: 8px;
    margin: 8px;
    width: 200px;
    height: 208px;
    background-color:#333333;
    box-shadow: 4px 4px 8px rgba(12, 12, 12, 0.4);
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.card-container:hover{
    transform: scale(1.05)
}

.product-title{
    font-weight: bold;
    margin-top: 4px;
}

.product-price{
    margin-top: -12px;
}

.product-title, .product-price{
    color: #ece5e5;
    margin-left: 8px;
}

.card-image{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 200px;
    height: 144px;
}

.delete{
    top: -40px;
    left: -16px;
}

.delete, .edit{
    position: relative;
    float: right;
}

.edit{
    top: -38px;
    left: -8px;
}

.delete img, .edit img{
    width: 30px;
    height: 30px;
}

.edit img{
    width: 22px;
    height: 25px;
}