.cart-detail-container{
    width: 90%;
    height: 88px;
    position: relative;
    left: 24px;
    margin-top:16px;
}

.detail-image{
    position: relative;
    float: left;
    width: 25%;
    height: 100%;
}

.detail-image img{
    border-radius: 8px;
    width: 100%;
    height: 100%
}

.detail-name{
    width: 75%;
    height: 50%;
    position: relative;
    float: left;
    left: 8px;
}

.detail-counter{
    width: 45%;
    height: 50%;
    position: relative;
    float: left;
}

.detail-price{
    width: 30%;
    height: 50%;
    position: relative;
    float: left;     
}

.name-cart{
    display: inline-block;
    font-weight: bold;
    position: relative;
    margin: 14px 0px 0px 8px;
}

.price-cart{
    display: inline-block;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 12px;
}

.counter-container{
    width: 100%;
    position: relative;
    margin-top: 12px;
}

.container-counter{
    align-items: center;
    display: flex;
    width: 50%;
    margin-left: 16px;
}

.counter-number{
    padding: 0px 8px;
    border: 1px solid rgb(22, 193, 75);
    background-color: rgba(22, 193, 75, 0.1);
    color: rgb(22, 193, 75);
}

.container-counter button{
    height: 23px;
    width: 23px;
    border: 1px solid rgb(22, 193, 75);
    background-color: rgba(22, 193, 75, 0.2);
    color: rgb(22, 193, 75);
}