.item-container{
    margin: 16px 0px 16px 15px;
    position: relative;
    float:left;
    width: 200px;
    height: 200px;
}

.item-image, .distractor, .item-image-selected{
    width: 100%;
    height: 79%;
}

.distractor{
    z-index: 10;
    position: absolute;
    top: 0px;
}

.item-image img{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 100%;
}

.item-image-selected img{
    border-radius: 8px 8px 0px 0px;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.product-name, .product-price{
    position: relative;
}

.product-price{
    font-weight: bold;
}

.slider{
    position: absolute;
    width: 100%;
    height: 42px;
    background-color: rgba(20,20,20,1);
    z-index: 1;
    transition: 0.4s all ease-in-out;
    transform: translate(0px, -20px);
    opacity: 0;
}

.option-container{
    width: 100%;
    height: 42px;
}

.option-container:hover .slider{
    transform: translate(0px, 0px);
    opacity: 1;
}

.delete-item{
    background-color: rgb(222, 83, 83);
}

.edit-item{
    background-color: rgb(38, 224, 95);
}

.delete-item:hover{
    background-color: rgb(226, 47, 47);
}

.edit-item:hover{
    background-color: rgb(22, 193, 75);
}


.delete-item, .edit-item{
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
    border: none;
    color: #FFF;
    cursor: pointer;
}